@mixin flex($justify,$align,$direction:row,$wrap:nowrap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap
}
@mixin text($weight,$size:16px,$lH: normal,$lS:normal) {
  font-weight: $weight;
  font-size: $size;
  line-height: $lH;
  letter-spacing: $lS;
}
@mixin wrapper() {
  background: #FFFFFF;
  box-shadow: 0 2px 2px rgba(0, 32, 51, 0.02), 0 2px 8px rgba(0, 32, 51, 0.16);
  border-radius: 8px;
}
@mixin title(){
  font-size: 24px;
}

@mixin description(){
  .text {
    @include flex(center,flex-start,column);
    gap:8px;
    .title {
      font-size: 32px;
    }

    & > ul {
      margin: 0;
      display: flex;
      gap: 30px;
      padding: 0;
      color: rgba(0, 32, 51, 0.6)
    }

    margin-bottom: 35px;
  }
}
@mixin block{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  @include flex(center,center);
}
